/* montserrat-regular - latin-ext_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/montserrat-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin-ext_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/montserrat-v15-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-regular - latin-ext_latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/oswald-v35-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/oswald-v35-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin-ext_latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/oswald-v35-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/oswald-v35-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


.body {
    overflow: hidden;
}

.header {
    position: fixed;
    z-index: 4;
    width: 100%;
    -webkit-box-pack: center;
    overflow: hidden;
}

.checkbtn {
    font-size: 30px;
    color: black;

    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    left: 20px;
    top: 20px;
}

#check {
    display: none;
}

.vid1 {
    width: 100%;
    z-index: 1;
}


.nav {
    align-items: stretch;
    display: flex;
    position: absolute;
    list-style-type: none;
    flex-wrap: nowrap;
    height: 93px;
    left: 100px;
    top: 0;
    background: #FFFFFF;
    float: right;


}


.nav > li > a {
    font-family: Montserrat, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0;
    margin-top: 10px;
    text-decoration: none;
    color: #060606;
    position: relative;
    text-space: 20px;
    margin-left: 40px;
    left: 305px

}


.BlackLogo3 {

    float: left;
    position: relative;
    width: 159px;
    height: 146px;
    margin-top: -28px;
    z-index: 999999;
    margin-left: 68px;


}


.nav > li {
    margin-top: 25px;
    justify-content: center;


}

.b1 {

    position: absolute;
    width: 86px;
    height: 83px;
    left: 46.8%;
    top: 366px;

    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));


}


video {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;

}


.vect {
    margin-top: -200px;

    position: page;
    background: transparent;
    left: -0.07%;
    right: 0;
    width: 100%;
    z-index: 7;

}

.text1 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 150px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 150px;
}

.vect2 {
    background: transparent;

    margin-top: -5px;
    position: absolute;
    width: 100%;
}

.vect3 {
    background: transparent;
    width: 100%;

    margin-top: -50px;
}

.pictures {
    display: flex;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
}


.pict2 > img {
    display: block;
}

.pict3 {
    margin-top: 15px;
}

.pictures2 {
    width: 100%;
    align-content: center;
    overflow: hidden;

}

.container-ineer > p {

    width: 394px;
    height: 29px;
    top: 1731px;
    font-family: Oswald, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #2F4858;
}


.containerw {
    margin-top: 150px;
    justify-content: space-evenly;
    display: flex;
    white-space: nowrap;
    -webkit-box-pack: center;
    width: -moz-available;
    padding-bottom: 5%;
    overflow: hidden;

}

.button1 {

    border-radius: 100px;
    background: #FFA800;
    outline: none;
    border: 0;
    position: absolute;
    width: 233px;
    height: 50px;
    left: 23%;
    margin-top: 2%;


}


.button1 > text {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    margin-top: 77px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.button3 {
    position: absolute;
    width: 233px;
    height: 50px;
    left: 62%;
    margin-top: 2%;

    background: #FFA800;

    border-radius: 100px;
    outline: none;
    border: 0;
}

.button3 > text {
    position: absolute;
    width: 233px;
    height: 50px;
    left: 26%;


    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: -25px;
    margin-left: -3px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.container2 {
    margin: 0 auto;
    width: 1366px;
}

.container2-ineer {
    position: absolute;
    margin-top: -1900px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.container2-ineer > p {
    position: absolute;
    width: 819px;
    height: 48px;
    left: 274px;
    top: 2010px;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #2F4858;
}


.Vards {
    position: absolute;
    width: 296px;
    height: 43px;
    left: 377px;
    top: 2113px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

.Epasts {
    position: absolute;
    width: 296px;
    height: 43px;
    left: 693px;
    top: 2113px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

.Telefons {
    position: absolute;
    width: 612px;
    height: 43px;
    left: 377px;
    top: 2171px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

.Jautajums {
    position: absolute;
    width: 612px;
    height: 232px;
    left: 377px;
    top: 2229px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

Form > p {
    position: absolute;
    width: 612px;
    height: 25px;
    left: 377px;
    top: 2476px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-content: center;
    color: #2F4858;
}

input[type='checkbox'] {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 380px;
    top: 2261px;
    margin-top: 270px;

    background: #E7E7E7;
    border-radius: 3px;
}

.form1 > label {
    position: absolute;
    width: 572px;
    height: 39px;
    left: 417px;
    top: 2526px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #2F4858;
}

input::placeholder {
    position: absolute;
    width: 587px;
    height: 20px;
    left: 389px;
    top: 2241px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #2F4858;

}

.button2 {
    border: none;
    outline: none;
    background: #FFA800;
    position: absolute;
    width: 182px;
    height: 62px;
    left: 592px;
    top: 2615px;
    border-radius: 100px;
}

.button2 > text {

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    margin-left: 53px;
    color: #FFFFFF;


}

.container3 {
    overflow: hidden;

    position: absolute;
    width: 100%;
    height: auto;

    top: 2750px;
    margin-top: 5%;


}


.vect4 {
    position: page;
    width: 100%;

    background: transparent;
}


.footer {
    margin-top: 1420px;
    background: #2F4858;
    width: 100%;
    top: 3000px;
    height: 350px;


}

.container3 > p {

    position: absolute;
    left: 43%;
    top: 60px;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #2F4858;
}

.vect5 {
    position: absolute;
    width: 241.95px;
    height: 80px;
    left: 12.29%;
    top: 218px;


}

.vect6 {
    position: absolute;
    width: 209.32px;
    height: 80px;
    left: 37.05%;
    top: 218px;
}

.vect7 {
    position: absolute;
    width: 238.96px;
    height: 80px;
    left: 59%;
    top: 218px;
}

.vect8 {
    position: absolute;
    width: 84.77px;
    height: 120px;
    left: 83.3%;
    top: 218px;
}

.vect9 {
    position: absolute;
    margin-left: 62px;
    margin-top: 85px;
}

.footer > p {

    position: absolute;
    margin-top: 300px;
    margin-left: 62px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}

.list {
    display: block;
    top: 30%;
    list-style: none;
    position: relative;


}

.list > li > a {


    margin-left: 384px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #ffffff;
}

.list > li:first-child {
    margin-top: 400px;
}

.p1 {
    margin-left: 50%;
    margin-top: -90px;
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.p2 {
    margin-left: 50%;
    margin-top: -40px;
    position: absolute;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;

}

.p3 {
    margin-left: 86%;
    margin-top: -90px;
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #FFFFFF;


}

.p4 {
    position: absolute;
    margin-left: 78%;
    margin-top: -40px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: right;
    color: #FFFFFF;
}

.fb {

    position: absolute;
    margin-left: 90.5%;
    margin-top: 75px;


}

.inst {
    position: absolute;
    margin-left: 93.2%;
    margin-top: 75px;

}

.p5 {
    position: absolute;
    margin-left: 87.2%;
    margin-top: 135px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #FFFFFF;

}


@media only screen and (max-width: 1370px) {

    .nav {
        align-items: unset;
    }

    .nav > li > a {
        margin-left: 20px;
        left: 190px;
    }

    .BlackLogo3 {
        margin-left: 0;
    }


}


@media only screen and (max-width: 1200px) {
    .body {
        overflow: hidden;
    }

    .header {
        margin-top: -5px;
    }

    .pictures > img {
        width: 50%;
        float: left;
        height: auto;
    }


    .pictures {
        display: block;
        width: 100%;
    }

    .pict2 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 50%;
        float: left;
        height: 100vh
    }

    .vect3 {
        width: 100%;
        height: 240px;
        margin-top: -22%;
        overflow: hidden;
        position: relative;
        object-fit: cover;

    }

    .vect2 {
        width: 100%;
    }

    .pict2 {
        height: 45vh;
    }

    .pict2 img {
        margin-top: -20px;
        transform: scale(1);

    }

    .pictures2 {
        overflow: hidden;
        width: 100%;
    }

    .container3 {
        margin-top: 50%;
    }

    .vect4 {
        object-fit: cover;
        height: 50vh;
    }


}


@media (max-width: 1000px) {


    .header {
        overflow: hidden;
        width: 100vw;
        position: fixed;
        padding-top: -5px;

    }

    .checkbtn {
        display: block !important;
        position: relative;
        z-index: 9999;
        left: 90%;
        top: 1%;
    }

    nav > ul > li {
        display: block !important;
        margin: 50px;
        line-height: 30px;
        background: #FFFFFF;

    }

    nav > ul > li:first-child {
        margin-top: 80px;

    }


    .nav > li {
        justify-content: unset;

    }

    #check:checked ~ ul {
        left: 0;
    }


    .nav > li > a {
        font-family: Montserrat, serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0;
        text-decoration: none;
        color: #060606;
        text-space: 20px;
        margin-left: 0;
        left: -100px;
        display: block !important;

    }

    .nav {
        position: fixed;
        align-items: unset;
        display: block !important;
        flex-wrap: unset;
        width: 100%;
        height: 100vh;
        background: #FFFFFF;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 99999;


    }


    .vect {
        overflow: hidden;
        z-index: 99;

    }

    .BlackLogo3 {
        margin-top: -115px;
        position: relative;
    }

    .container3 {
        top: 2750px;
    }

    .container2 {
        width: 100%;
        margin-left: calc(-30% + 100px);
        overflow: hidden;
    }

    .footer {
        margin-top: 1300px;
        top: unset;
    }

    .vect3 {
        margin-top: -20%;

    }

    .pict2 {
        height: 40vh;
    }

    .vect4 {

        object-fit: cover;
        height: 50vw;

    }

    .container3 {
        margin-top: 40%;
    }


    .list {
        display: none;
    }

    .p1 {
        margin-left: 34%;
        font-size: 15px;
        margin-top: 80px;
    }

    .p2 {
        margin-left: 34%;
        font-size: 15px;
        margin-top: 120px;
    }

    .p3 {
        margin-left: 80%;
        font-size: 15px;
        margin-top: 80px;

    }

    .p4 {
        margin-left: 70%;
        font-size: 15px;
        margin-top: 120px;
    }

    .fb {
        margin-left: 90%;
        margin-top: 260px;
    }

    .inst {
        margin-left: 93%;
        margin-top: 260px;
    }

    .p5 {
        margin-left: 83%;
        margin-top: 310px;

    }

    .b1 {
        top: 200px;
    }


}

@media only screen and (max-width: 900px) {

    .container2 {
        width: 100%;
        margin-left: -28%;
        overflow: hidden;
    }


    .vect4 {
        margin-top: 5%;
        width: 100%;
        height: 600px;
        position: absolute;
        object-fit: cover;
    }

    .containerw {
        margin-left: -5%;
        margin-top: -5%;
    }

    .button1 {
        margin-left: -15%;
    }

    .button2 {
        margin-left: -5%;
    }

    .container3 {
        top: 2700px;
    }

    .container3 > p {
        margin-top: 10%;

    }


    .logo2 {

        padding-top: 22%;
        margin-left: 20%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .column > img {
        z-index: 8;
        padding: 2%;
        position: relative;
        width: unset;
        height: unset;
        left: unset;
        top: unset;
    }


    .footer {
        margin-top: 1500px;
    }

    .vect3 {
        margin-top: -28%;

    }


    .BlackLogo3 {
        padding-left: -20%;

    }

    .pict2 {
        height: 40vh;
    }

    .containerw {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 700px) {
    .containerw {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin-top: -30%;
    }

    .container-ineer {
        padding: 10vh 10vh 10vh 10vh;
    }

    .button1 {
        margin-left: 10%;
    }

    .button3 {
        margin-left: -27%;
    }

    .BlackLogo3 {
        padding-left: -40%;
    }

    .checkbtn {
        margin-left: -25%;
    }


    .container2 {
        margin-left: -50% !important;
        overflow: hidden !important;
    }

    .b1 {
        top: 150px;
    }


    .vect3 {
        margin-top: -45% !important;
    }

    .containerw {
        margin-top: 3%;
    }

    .container3 {
        top: 2900px!important;
    }

    .vect9 {
        margin-left: 1%;
    }

    .footer p {
        margin-left: 1%;
    }

    .p1 {
        margin-left: 35%;
        font-size: 10px;

    }

    .p2 {
        margin-left: 35%;
        font-size: 10px;

    }

    .p3 {
        margin-left: 70%;
        font-size: 10px;
    }

    .p4 {
        margin-left: 70%;
        font-size: 10px;

    }

    .fb {
        margin-left: 80%;
    }

    .inst {
        margin-left: 84%;

    }

    .p5 {
        margin-left: 70%;
    }


    .checkbtn {
        margin-left: 0;
    }

}

@media only screen and (max-width: 800px) {

    .vect3 {
        margin-top: -32%;

    }

    .pict2 {
        height: 36vh;
    }

    .container2 {
        margin-left: -40%;
    }

    .container3 {
        top:2500px;
    }

}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999999;
    border: none;
    outline: none;
    background: #FFA800;
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
    font-size: 18px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;


}